@keyframes slideDown {
  0% {
    top: 0;
    left: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 100%;
    left: 11%;
  }
}
.dd-container {
  width: max-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.actionBtn-dd {
  width: 100%;
  height: max-content;
}
.list-items {
  width: max-content;
  list-style: none;
  padding: 0;
  margin: 1%;
  position: absolute;
  top: 100%;
  left: 11%;
  z-index: 9;
  animation: slideDown 700ms ease-in-out;
}
.dd-content {
  position: relative;
  width: 100%;
}
