.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 9px 20px;
  background-color: rgb(36, 30, 78);
  color: aliceblue;
  border-radius: 15px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
  &:hover {
    background-color: white;
    color: rgb(36, 30, 78);
    border: 1px solid rgb(36, 30, 78);
  }
  &:active:enabled {
    transform: scale(0.9);
  }
  &:disabled {
    background-color: rgb(208, 211, 213);
    color: rgb(105, 103, 103);
    cursor: not-allowed;
  }
}
.sm {
  width: max-content;
  font-size: 12px !important;
}
.lg {
  width: max-content;
  font-size: 20px !important;
}
.ghost {
  background-color: transparent;
  color: black;
}
.default {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px rgb(36, 30, 78) solid;
  padding: 9px 20px;
  color: rgb(36, 30, 78);
  border-radius: 15px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 500ms ease-out;
  &:hover {
    background-color: rgb(36, 30, 78);
    color: white;
    background-position: left;
  }
  &:active:enabled {
    transform: scale(0.9);
  }
  &:disabled {
    background-color: rgb(208, 211, 213);
    color: rgb(105, 103, 103);
    cursor: not-allowed;
  }
}
.linkBtn {
  text-decoration: none;
  color: rgb(36, 30, 78);
  display: block;
  background-size: 200%;
  padding: 9px 20px;
  border-radius: 15px;
  width: max-content;
  transition: 500ms ease-out;
}

.linkBtn:after {
  display: block;
  content: "";
  border-bottom: solid 1px rgb(36, 30, 78);
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}
.linkBtn:hover:after {
  transform: scaleX(1);
}
.linkBtn:after {
  transform-origin: 0% 100%;
}
